body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

body.sunday {
    background-image: url("../../media/image/leJrSmith.jpg");
}

body.monday {
    background-image: url("../../media/image/leJrSmith.jpg");
}

body.tuesday {
    background-image: url("../../media/image/leTuesday.jpg");
}

body.wednesday {
    background-image: url("../../media/image/leJrSmith.jpg");
}

body.thursday {
    background-image: url("../../media/image/leJrSmith.jpg");
}

body.friday {
    background-image: url("../../media/image/leJrSmith.jpg");
}

body.saturday {
    background-image: url("../../media/image/leJrSmith.jpg");
}

.background-blend {
    background-color: #333333FF;
    background-blend-mode: multiply;
}

.navbar {
    height: 100%;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align icons to the top */
    align-items: center;
    gap: 2.5vh;
    padding-top: 5vh; /* Add padding to fine-tune spacing */
}

.navbar a, .navbar button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .navbar {
        width: 5.5vw;
    }

    .navbar a, .navbar button {
        width: 2.75vw;
        height: 2.75vw;
    }
}

.navbar a.instagram {
    margin-top: auto;
}

.navbar button {
    padding: 0px;
    border: none;
}

.navbar img {
    width: 100%;
}

.navbar button.settings {
    margin-top: auto;
    margin-bottom: 2.5vh;
    padding: 0px;
    border: none;
    filter: invert(1);
    -webkit-filter: invert(1);
}

.navbar a.instagram, .navbar a.facebook, .navbar a.youtube, .navbar a.tiktok {
    border-radius: 50%;
    background-color: white;
}

/* Target LeBron James website button */
.navbar a.lebron-website {
    background-color: black;
    border-radius: 50%;
}

/* Target Wikipedia button */
.navbar a.wikipedia {
    background-color: black;
    border-radius: 50%;
}

/* Ensure icons in these buttons remain visible */
.navbar a.lebron-website img, 
.navbar a.wikipedia img {
    filter: invert(1);
    -webkit-filter: invert(1);
}


.main {
    display: flex;
    flex-direction: column;
}
